<div class = 'col-sm-12 col-md-2'><h1 class = "page-heading">Staff</h1></div>

<div class = 'tag-cloud-container col-xs-12 col-sm-12 col-md-10 col-lg-10'>
	<% tag_cloud @tags, %w(tag_cloud) do |tag, css_class| %>
	<%= link_to tag.name, speciality_path(tag.name), :class => css_class %>
	<% end %>
</div>

<br class = 'clr' />
<br />

<section class = 'staff-list col-xs-12 col-sm-12 col-md-2 col-lg-2 container-fluid'>
	<% regrouped_staffs(@staffs).each_pair do |role, staffs| %>
		<h3><%= role %></h3>
		<ul>
			<% staffs.each do |staff| %>
				<li><%= link_to staff.full_name, staffs_path(:anchor => staff.combined_name), :class => 'in_page' %></li>
			<% end %>
		</ul>
	<% end %>
	
</section>

<section class = 'staff-photo col-xs-12 col-sm-12 col-md-10 col-lg-10'>
	<div class = "row">
		<% @staffs.tutors.each do |staff| %>
			<%= render :partial => 'staff_thumbnail', :locals => { :staff => staff} %>
   		<% end %>
	</div>
</section>


<script>
	$(document).ready(function() {
		var $root = $('html, body');
		$('.in_page').click(function(){
		    $root.animate({
		        scrollTop: $('[name="' + $.attr(this, 'href').substr(8) + '"]').offset().top
		    }, 500);
		    return false;
		});
	})
</script>