<h1 class = 'page-heading'>What's Next</h2>

<span class='cheer'>Thank you for submitting your booking!</span>
<br />
<br />

<section>
	<p>
		Once we recieve your booking and payment, we will email you a booking confirmation along with details of the balance that you will have to pay by the payment dates.
	</p>
	<p>
		In July we will send out Advance Information, dealing with FAQs, Please note: all correspondence happens via email. We advise you to take the necessary steps to make sure emails from AIMS do not get sent to spam/junk folders.
	</p>
</section>

<section>
	<h3>For Solo singers</h3>
	<ul>
		<li>Make sure you have sent us your song choices. It is advisable to come prepared to AIMS, ideally knowing your pieces from memory. It is not obligathory, but we find that students get so much more from the sessions when they are not 'note-bashing'.</li>
		<li>After the auditions, we will contact you if you have been successful, and inform you what is required.</li>
		<li>If you have been given a role to memorise, you <b>must</b> come <b>knowing your role off-copy</b> please. Scenes will not be performed unless every singer does this. If you arrived unprepared, you will be letting your fellow singers down.</li>
	</ul>
</section>

<section>
	<h3>For Choral singers</h3>
	<ul>
		<li>Organise getting your music (either <a href='#buy_music'>buying yourself</a>, or you can order hire copies from the AIMS office, which can be collected at the sttart of the course).</li>
	</ul>
</section>


<section>
	<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
	<a name='buy_music'><b>Buying Music</b></a><br />
	Some scores will be available to buy direct from the AIMS Office. For other music purchases we recommend contacting Kim Thornewell at:
	<br />
	<p><b>
		Brittens Music Ltd<br />
		Grove Hill Road<br />
		Tunbridge Wells<br />
		Kent, TN1 1RZ<br />
	</b></p>
	<b>Tel:</b> 01892 526659<br />
	<b>Email:</b> kim.thornewell@brittensmusic.co.uk<br />
	<p>
		Brittens Music will also have a shop on site during AIMS 2016.
	</p>
	</div>
</section>