<% meta title: "What's Next",
	keywords: "#w{booking next step}" %>
<h1 class = 'page-heading'>What's Next</h2>

<span class='cheer'>Thank you for submitting your booking!</span>
<br />
<br />
<section>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<h3>Payment</h3>
	</div>
	<div class = 'col-xs-12 col-sm-12 col-md-8 col-lg-8'>
		By cheque (made payable to <b>AIMS International Music School</b>) or Bank transfer (details below)
		<div class = 'bank-detail row'>
			<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
				<b>SORT CODE:</b> 40 25 06
			</div>
			<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
				<b>IBAN:</b> GB37MIDL40250681383132
			</div>
			<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
				<b>ACCOUNT NUMBER:</b> 81383132
			</div>
			<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
				<b>BIC:</b> MIDLGB2113U
			</div>
		</div>

	</div>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<p>
			Please make sure that you send the full amount to the AIMS account, that any bank chanrges are compensated for at your end. Any payments that have had deductions made will have to be paid up in full at the beginning of the course.
		</p>
		<p>
			To confirm your booking, you can pay a deposit of £75 (non-refundable). You will pay the remainder of 50% of your fees by 1 May 2016 and the blance by 30 June 2016.
		</p>
	</div>
</section>
<section>
	<p>
		Once we recieve your booking and payment, we will email you a booking confirmation with a note of your choice of accmmodation (if booking Summer School), and the classes you have selected, along with details of the balance that you will have to pay by the payment dates.
	</p>
	<p>
		In July we will send out Advance Information, dealing with FAQs, a map of the Eastbourne College campus, etc. Please note: all correspondence happens via email. We advise you to take the necessary steps to make sure emails from AIMS do not get sent to spam/junk folders.
	</p>
</section>

<section>
	<h3>For Solo singers</h3>
	<ul>
		<li>Make sure you have sent us your song choices. It is advisable to come prepared to AIMS, ideally knowing your pieces from memory. It is not obligathory, but we find that students get so much more from the sessions when they are not 'note-bashing'.</li>
		<li>After the auditions, we will contact you if you have been successful, and inform you what is required.</li>
		<li>If you have been given a role to memorise, you <b>must</b> come <b>knowing your role off-copy</b> please. Scenes will not be performed unless every singer does this. If you arrived unprepared, you will be letting your fellow singers down.</li>
	</ul>
</section>

<section>
	<h3>For Choral singers</h3>
	<ul>
		<li>Organise getting your music (either <a href='#buy_music'>buying yourself</a>, or you can order hire copies from the AIMS office, which can be collected at the sttart of the course).</li>
	</ul>
</section>

<section>
	<h3>For Crossover singers</h3>
	<ul>
		<li>Your timetable will be prepared for you - this may involve further discussion with the AIMS Office, but anything is possible (in theory!).</li>
	</ul>
</section>

<section>
	<h3>For Piano Accompanists</h3>
	<ul>
		<li>Let us know if you are coming with a particular singer, or if you have any special requests for repertoire/voice type.</li>
	</ul>
</section>
<br />
<br />
<br />

<section>
	<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
	<a name='buy_music'><b>Buying Music</b></a><br />
	Some scores will be available to buy direct from the AIMS Office. For other music purchases we recommend contacting Kim Thornewell at:
	<br />
	<p><b>
		Brittens Music Ltd<br />
		Grove Hill Road<br />
		Tunbridge Wells<br />
		Kent, TN1 1RZ<br />
	</b></p>
	<b>Tel:</b> 01892 526659<br />
	<b>Email:</b> kim.thornewell@brittensmusic.co.uk<br />
	<p>
		Brittens Music will also have a shop on site during AIMS 2016.
	</p>
	</div>
</section>