/* CASEIN CUSTOM */
/* Use this file for your project-specific Casein CSS */

.description-box, .wysihtml5-sandbox {
	min-height: 350px;
}

.thumb {
  margin-bottom: 10px;
}

.clr {
	clear: both;
}

.image-select.selected {
	opacity: 0.5;
}

.control-label {
	margin-right: 25px ;
}

#current-state {
	display: none;
}

.state-icon {
	margin: 0px 10px 0px 10px;
}

.staff-list {
	list-style-type: none;
}

.staff-list > .list-group-item {
	border: none;
}

input.index-check {
	margin: 15px 2px 15px 2px;
}