/* CASEIN CUSTOM */
/* Use this file for your project-specific Casein CSS */

.description-box, .wysihtml5-sandbox {
	min-height: 350px;
}

.thumb {
  margin-bottom: 10px;
}

.clr {
	clear: both;
}

.image-select.selected {
	opacity: 0.5;
}