<b>Dear <%= @first_name %>,</b>

<p>This email is to confirm that you have submitted a booking for <%= @campaign %></p>

<p>Your booking reference number is: <b><%= @opp_uid %></b></p> Please retain this for future reference.

<%= @page.content.html_safe %>