<div class = 'row bank-payment'>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
	<h3>Payment</h3>
	</p>By cheque (made payable to <b>AIMS International Music School</b>) or Bank transfer (details below)</p>
	</div>
	<div class = 'col-xs-12 col-sm-12 col-md-8 col-lg-8'>
		<div class = 'bank-detail row'>
			<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
				<b>SORT CODE:</b> 40 25 06
			</div>
			<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
				<b>IBAN:</b> GB37MIDL40250681383132
			</div>
			<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
				<b>ACCOUNT NUMBER:</b> 81383132
			</div>
			<div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
				<b>BIC:</b> MIDLGB2113U
			</div>
		</div>
	</div>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<p>
			Please make sure that you send the full amount to the AIMS account, that any bank chanrges are compensated for at your end. Any payments that have had deductions made will have to be paid up in full at the beginning of the course.
		</p>
		<p>
			To confirm your booking, you can pay a deposit of £75 (non-refundable). You will pay the remainder of 50% of your fees by 1 May 2016 and the blance by 30 June 2016.
		</p>
	</div>
</div>