<div class = 'row'>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<h3>Payment</h3>
	</div>
	<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
		<%= f.input :stage, collection: ['Credit Cards', 'Bank Transfer'], as: :radio_buttons, label: 'I would like to pay by...', input_html: { :class => 'payment-type'}, required: true %>
	</div>
	<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6'>
		<%= f.input :stage, collection: ['Full amount', 'Deposit'], as: :radio_buttons, label: 'I would like to pay...', input_html: { :class => 'payment-stage'}, required: true %>
	</div>
	<div class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6 total'>
		<div class = 'col-xs-4 col-sm-4 col-md-4 col-lg-4 amount-header'%>
			<b>Amount due: </b>
		</div>
		<div class = 'col-xs-8 col-sm-8 col-md-8 col-lg-8'%>
			<span class = 'payment-amount amount'></span>
		<%= f.input :payment_amount, as: :hidden, label: false, required: false %>
		</div>
	</div>
	<div class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12 agreement'>
		I enclose my deposit of £75 (non-refundable) and I understand to pay the remainder of 50% of my fees by 1 May 2016 and the blance by 30 June 2016.

		Note: please make sure that you send the full amount to the AIMS account and that any bank charges are compensate for at your end. Any payments that have had deductions made will have to be paid up in ful at the beginning of the course.
	</div>
</div>