<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-formats"><%= link_to "Formats", casein_formats_path %></li>
<li id="tab-courses"><%= link_to "Courses", casein_courses_path %></li>
<li id="tab-klasses"><%= link_to "Klasses", casein_klasses_path %></li>
<li id="tab-photos"><%= link_to "Photos", casein_photos_path %></li>
