<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-klasses"><%= link_to "Klasses", casein_klasses_path %></li>
<li id="tab-courses"><%= link_to "Courses", casein_courses_path %></li>