// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$aims-color: #A21D21;
$aims-bg-color: #F6E8E9;

.inline-title {
	display: inline;
}

.instruction {
	font-style: italic;
	font-size: 12px;
}

.session-options {
	display: none;
}

#Summer {
	display: none;
}

#Taster {
	display: none;
}

.course-booking {
	display: none;
	background-color: $aims-bg-color;
	padding-top: 15px;
	padding-bottom: 0px;
}

.booking-sections {
	border-top: 4px solid $aims-color;
}

.bill {
	position: relative;
	border-radius: 10px;
	border: 4px solid $aims-color;
	padding: 0px;
	width: 100%;
}

.line-item {
	padding: 0px;
	min-width: 100%;
	height: 45px;
}

/*.grand-total {
	position: absolute;
	top: 92px;
	background-color: $aims-bg-color;
	padding: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid $aims-color;
	height: 50px;
	width: 100%;
}
*/

#grand-total-line {
	margin-bottom: 0px;
}

/*.amount-header {
	display: inline-block;
	height: 100%;
	padding: 10px 0px;
	padding-right: 5%;
	text-align: right;
	min-width: 40%;
}*/

/*#grand-total-header {
	background-color: $aims-color;
	color: white;
	border-bottom-left-radius: 5px;
	border: 4px solid $aims-color;
}
*/
#total-header {
	background-color: $aims-color;
	color: white;
	border: 4px solid $aims-color;
}
/*
.amount {
	margin: 10px auto;
	font-weight: 900;
	text-align: right;
	padding-right: 5%;
	width: 50%;
}*/

/*#service-charge {
	font-style: italic;
	font-weight: 900;
}*/

#service-charge-input {
	text-align: right;
	background-color: #fff;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px 0px 1px 0px solid, #ccc;
	box-shadow: none;
}

#sub-total {
	text-align: right;
	background-color: #fff;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px 0px 1px 0px solid, #ccc;
	box-shadow: none;
}

#payment-amount-input {
	text-align: right;
	background-color: #fff;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px 0px 1px 0px solid, #ccc;
	box-shadow: none;
}

.invalid {
	font-style: italic;
	color: red;
	margin-left: 12px;
}

.warning {
	font-style: italic;
	color: red;
	margin-left: 12px;
}

.warning-box {
	font-style: italic;
	color: red;
}

.agreement {
	display: none;
}

.bank-detail {
	background-color: $aims-bg-color;
	padding: 10px 0px;
	margin: 10px 0px;
}

.card {
	display: inline-block;
	height: 25px;
	margin: 5px;
}

.booking_stage .radio {
	display: inline-block;
	margin: 0px 5px;
}

#little-warning {
	font-style: italic;
	color: red;
}

.pay-bank-note {
	font-size: 13px;
	font-style: italic;
}

.payment-type-buttons {
	margin-left: 30px;
}

.pay-bank {
	display: none;
}

#add-on {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

#course-cost {
	font-weight: bold;
}

.cheer {
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
}

.note {
  font-size: 18px;
  font-weight: 900;
}

.amount-input {
	text-align: right;
}

