// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event hr {
	border: 1px solid #C7C7C7;
	margin-bottom: 0px;
}

.event {
	padding-top: 5px;
  padding-bottom: 5px;
}

#events-nav-list {
  text-align: right;
}
.event-list a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.event-list a:hover .event {
	text-decoration: none;
	background-color: #F6E8E9;
}

.event-list ul {
  list-style-type: none;
  padding-left: 10px;
}

.event-list ul .event {
  margin: 10px 0px;
  padding: 0px 10px;
}

.event-list ul a:hover .event {
  text-decoration: none;
  background-color: #F6E8E9;
}

.calendar {
  border: none;
  margin-bottom: 25px;

  td, th {
    font-family: "Helvetica Neue", arial, helvetica, sans-serif;
    font-size: 12px;
    padding: 6px;
    border: none;
    font-weight: bold;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 20px;
    text-align: center;
    vertical-align: middle;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #DDD; border-radius: 50%; }
}

#month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

.event-day {
	background: #A21D21;
  border-radius: 50%;
  color: white;
}

.date {
  font-size: 14px;
}