html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
}

.main {
  overflow:auto;
  padding-bottom:200px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear: both;
  padding-top: 20px;
  color: white;
  font-size: 14px;
  background-color: #434343;
} 

.footer a {
  color: white;
}

.footer a:hover {
  color: #A21D21;
}

.footer-content {
  background-color: #434343;
}

.big-footer ul {
  list-style: none;
}

.footer li {
  padding-bottom: 10px
}

.footer-title {
  font-weight: 900;
  margin-top: 3px;
}

.footer-item {
  font-weight: 100;
}

.footer-item a {
  font-weight: 100;
}

.footer-panel {
  margin-bottom: 5px;
}

.copy-right {
  font-size: 12px;
}