html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
}

.main {
  overflow:auto;
  padding-bottom:200px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear: both;
  padding: 15px;
  color: #BABABA;
  font-size: 14px;
  background-color: #434343;
} 

.footer a {
  color: #BABABA;
}

.footer a:hover {
  color: #A21D21;
}

.footer-content {
  background-color: #434343;
}

.big-footer ul {
  list-style: none;
}

.footer-title {
  font-weight: 800;
  margin-top: 3px;
  padding-bottom: 5px;
  color: #DBDBDB;
}

.footer-title a {
  font-weight: 800;
  margin-top: 3px;
  padding-bottom: 10px;
  color: #DBDBDB;
}

.footer-item {
  font-weight: 100;
  padding-bottom: 5px;
  padding-top: 10px;
}

.footer-item a {
  font-weight: 100;
}


.footer-sub-item {
  font-weight: 100;
  padding-bottom: 2px;
  font-size: 12px;
}

.footer-sub-item a {
  font-weight: 100;
}

.footer-panel {
  margin-bottom: 5px;
}

.copy-right {
  font-size: 12px;
}

.mini-footer-panel {
  margin-bottom: 5px;
  text-align: center;
}

.mini-copy-right {
  font-size: 10px;
}

.mini-footer-item {
  font-weight: 100;
}

.mini-footer-item a {
  font-weight: 100;
}


.mini-footer-sub-item {
  font-weight: 100;
  font-size: 12px;
}

.mini-footer-sub-item a {
  font-weight: 100;
}


#mini-footer .nav > li > a:hover, #mini-footer .nav > li > a:focus {
  background-color: black;
}
