html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

.footer {
	background-color: black;
	color: white;
	padding: 25px;
}