@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
}

.clr {
	clear: both;
}

h1, h2, h3, h4, h5 {
	font-family: 'Cinzel', 'Georgia', 'Times New Roman', serif;
	font-weight: bold;
	color: #A21D21;
	} 

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a {
	font-family: 'Cinzel', 'Georgia', 'Times New Roman', serif;
	font-weight: bold;
	color: #A21D21;
	} 

.nav {
	margin-bottom: 0;
}

.page-heading {
	margin-top: 50px;
}


.red-heading {
  background-color: #A21D21;
  padding: 10px;
  margin-top: 10px;
  color: #fff;
}

.logo-title {
	display: inline-block;
}

.navbar {
	margin-bottom: 0;
}

.nav > li.dropdown.open { 
	position: static;
	display: inline;
}

.nav > li.dropdown.open .dropdown-menu {
	width: 100%; 
	text-align: left; 
	left:0; 
	right:0;
	background-color: grey;
	border-top-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-radius: 0px;
	padding-left: 55px;
	border-color: white;
}

.nav > li > .sub-menu {
	width: 100%; 
	text-align: left; 
	left:0; 
	right:0;
	background-color: grey;
	border-top-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-radius: 0px;
	padding-left: 55px;
}

.dropdown-menu>li { 
	display: inline;
	color: white;
}

.dropdown-menu > li > a { 
	display: inline;
	color: white;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 20px;
}

.dropdown-menu > li > a:hover { 
	color: white;
	background-color: #757575;
}

.navbar-main {
	border-radius: 0;
	background-color: #A21D21;
	color: white;
	border: 0;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > .active > a {
	background-color: #8C0F13;
	color: white;
	font-weight: bold;
}

.navbar-default .navbar-nav > .active > a:hover {
	background-color: #8C0F13;
	color: black;
	font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover, 
	.navbar-default .navbar-nav > li > a:focus, 
		.navbar-default .navbar-nav > .open > a, 
			.navbar-default .navbar-nav > .open > a:hover, 
				.navbar-default .navbar-nav > .open > a:focus {
		color: black;
		background-color: #8C0F13;
	}

.navbar-secondary {
	padding-right: 25px;
}

nav.navbar.navbar-third {
	padding-left: 55px;
	border-radius: 0;
	background-color: grey;
	border-top: 1px;
	border-left: 0px;
	border-bottom: 0px;
	border-right: 0px;
	border-color: white;
	border-style: solid;
	margin: 0;
	min-height: 32px;
	color: white;
}

nav.navbar.navbar-third li a:hover, 
	nav.navbar.navbar-third li a:focus {
					color: black;
					background-color: #757575;
				}

.navbar-third li a {
	padding-top: 4px;
	padding-bottom: 4px; 
	padding-left: 5px;
	padding-right: 20px;
	min-height: 20px;
	font-weight: normal;
	color: white;
}

.icon-bar {
	color: white;
}

.brand {
	font-family: 'Cinzel', 'Georgia', 'Times New Roman', serif;
	font-weight: bold;
	font-size: 2.5em;
	padding-left: 25px;
	padding-bottom: 10px;
	padding-right: 25px;
	min-height: 50px;
	vertical-align: bottom;
}


.navbar-collapse .navbar-nav .open .dropdown-menu > li > a {
	color: white;
}

.navbar-collapse#navbar-third {
	padding-left: 0px;
	padding-right: 0px;
}
.logo {
	height: 75px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

.class-title {
	display: inline;
}

.red-divider {
	border-width: 5px;
	border-color: #A21D21;
}

.social-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 5px;
}

.header-social-icon {
	margin-top: 15px;
	margin-bottom: 15px;
}


#mc_embed_signup {
	padding-top: 20px;
}

#mc_embed_signup button {
	font-size: 11px;
}

.mail-button {
	background-color: #aaa;
	color: #fff;
}

#mc_embed_signup_scroll {
	margin-top: 5px;
	margin-bottom: 10px;
}

.highlight-list h5 {
	display: inline;
}

.highlight-list ul li {
	list-style-type: none;
}

.course {
	margin-bottom: 20px;
}

.important-date {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 10px;
}

.important-venue {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 8px;
}

.address {
	margin-bottom: 8px;
	font-style: italic;
}

.quote {
  font-size: 22px;
  font-style: italic;
  font-weight: 100;
  color: #aaa;
  text-align: center;
  padding: 40px 20px;
  display: inline-block;
}

.quote-icon-left {
	max-height: 40px;
	display: inline-block;
	margin-right: 10px;
}

.quote-icon-right {
	max-height: 40px;
	transform:rotate(180deg);
	margin-left:10px;
	display: inline-block;
}

.spacer {
	margin-bottom: 50px
}

.thumbnail {
	border-radius: 0px;
}
