@import url(https://fonts.googleapis.com/css?family=Cinzel);

body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Cinzel', 'Georgia', 'Times New Roman', serif;
	font-weight: bold;
	color: #A21D21;
	} 

.container-fluid {
	padding-left: 45px;
}

.navbar-main {
	border-radius: 0;
	background-color: #A21D21;
	color: white;
	border: 0;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > .active > a {
	background-color: #8C0F13;
	color: white;
	font-weight: bold;
}

.navbar-secondary {
	padding-right: 25px;
}

.navbar-third {
	padding-left: 50px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 0;
	background-color: grey;
	border: 0;
	margin: 0;
	min-height: 24px;
}

.navbar-third li a {
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 20px;
	font-weight: normal;
}

.icon-bar {
	color: white;
}

.brand {
	font-family: 'Cinzel', 'Georgia', 'Times New Roman', serif;
	font-weight: bold;
	font-size: 2.5em;
	padding-left: 25px;
	padding-bottom: 10px;
	padding-right: 25px;
	min-height: 50px;
	vertical-align: bottom;
}

.logo {
	height: 75px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

.class-name {
	display: inline;
}

.red-divider {
	border-width: 5px;
	border-color: #A21D21;
}