@import url(https://fonts.googleapis.com/css?family=Cinzel);

h1, h2, h3, h4, h5 {
	font-family: 'Cinzel', 'Georgia', 'Times New Roman', serif;
	font-weight: bold;
	} 

.container-fluid {
	padding-left: 45px;
}

.navbar-main {
	border-radius: 0;
	background-color: #A21D21;
	color: white;
	border: 0;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-weight: bold;
}

.navbar-default .navbar-nav > .active > a {
	background-color: #8C0F13;
	color: white;
	font-weight: bold;
}

.navbar-secondary {
	padding-right: 25px;
}

.icon-bar {
	color: white;
}

.brand {
	font-family: 'Cinzel', 'Georgia', 'Times New Roman', serif;
	font-weight: bold;
	font-size: 2.5em;
	padding-left: 25px;
	padding-bottom: 10px;
	padding-right: 25px;
	min-height: 50px;
	vertical-align: bottom;
}

.logo {
	height: 75px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}