@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
}

.clr {
	clear: both;
}

h1, h2, h3, h4, h5 {
	font-family: 'Cinzel', 'Georgia', 'Times New Roman', serif;
	font-weight: 900;
	color: #A21D21;
	} 

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a {
	font-family: 'Cinzel', 'Georgia', 'Times New Roman', serif;
	font-weight: 900;
	color: #A21D21;
	} 

a {
	text-decoration: none;
	color: #A21D21;
	font-weight: 900;
}

b {
	font-weight: 900;
}

a:hover {
	text-decoration: none;
	color: black;
}

.nav {
	margin-bottom: 0;
}

.page-heading {
	margin-top: 50px;
}


.red-heading {
  background-color: #A21D21;
  padding: 10px;
  margin-top: 10px;
  color: #fff;
}

.logo-title {
	display: inline-block;
}

.sub-heading {
	text-align: right;
	font-size: 18px;
	font-family: 'Cinzel', 'Georgia', 'Times New Roman', serif;
    font-weight: 900;
    color: #A21D21;
}

.navbar {
	margin-bottom: 0;
}

.nav > li.dropdown.open { 
	position: static;
	display: inline;
}

.navbar-toggle {
	border: none;
	letter-spacing: 3px;
	font-weight: 900;
}

.nav > li.dropdown.open .dropdown-menu {
	width: 100%; 
	text-align: left; 
	left:0; 
	right:0;
	background-color: grey;
	border-top-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-radius: 0px;
	padding-left: 55px;
	border-color: white;
}

.nav > li > .sub-menu {
	width: 100%; 
	text-align: left; 
	left:0; 
	right:0;
	background-color: grey;
	border-top-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-radius: 0px;
	padding-left: 55px;
}

.dropdown-menu>li { 
	display: inline;
	color: white;
}

.dropdown-menu > li > a { 
	display: inline;
	color: white;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 20px;
}

.dropdown-menu > li > a:hover { 
	color: white;
	background-color: #757575;
}

.navbar-main {
	border-radius: 0;
	background-color: #A21D21;
	color: white;
	border: 0;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > .active > a {
	background-color: #8C0F13;
	color: white;
	font-weight: bold;
}

.navbar-default .navbar-nav > .active > a:hover {
	background-color: #8C0F13;
	color: black;
	font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover, 
	.navbar-default .navbar-nav > li > a:focus, 
		.navbar-default .navbar-nav > .open > a, 
			.navbar-default .navbar-nav > .open > a:hover, 
				.navbar-default .navbar-nav > .open > a:focus {
		color: black;
		background-color: #8C0F13;
	}

.navbar-secondary {
	padding-right: 25px;
}

nav.navbar.navbar-third {
	padding-left: 55px;
	border-radius: 0;
	background-color: grey;
	border-top: 1px;
	border-left: 0px;
	border-bottom: 0px;
	border-right: 0px;
	border-color: white;
	border-style: solid;
	margin: 0;
	min-height: 32px;
	color: white;
}

nav.navbar.navbar-third li a:hover, 
	nav.navbar.navbar-third li a:focus {
					color: black;
					background-color: #757575;
				}

.navbar-third li a {
	padding-top: 4px;
	padding-bottom: 4px; 
	padding-left: 5px;
	padding-right: 20px;
	min-height: 20px;
	font-weight: normal;
	color: white;
}

.icon-bar {
	color: white;
}

.brand {
	font-family: 'Cinzel', 'Georgia', 'Times New Roman', serif;
	font-weight: bold;
	font-size: 42px;
	color: black;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	min-height: 50px;
	vertical-align: bottom;
	display: inline;
}

.title {
	display: inline-block;
}

.title-container {
	width: 75%;
	display: inline-block;
}

.logo {
	width: 100%;
	display: inline-block;
}

.logo-container {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}

.navbar-collapse .navbar-nav .open .dropdown-menu > li > a {
	color: white;
}

.navbar-collapse#navbar-third {
	padding-left: 0px;
	padding-right: 0px;
}

.class-title {
	display: inline;
}

.red-divider {
	border-width: 5px;
	border-color: #A21D21;
}

.social-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 5px;
}

#social-icon-link-facebook {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}


#social-icon-link-twitter {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#social-icon-link-youtube {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.header-social-icon {
	margin-top: 15px;
	margin-bottom: 15px;
}

#mc_embed_signup {
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

#mc-embedded-subscribe {
	font-size: 11px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	background-color: #aaa;
	color: #fff;
}

.mailchimp-form {
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: right;
}

.highlight-list h5 {
	display: inline;
}

.highlight-list ul li {
	list-style-type: none;
}

.course {
	margin-bottom: 20px;
}

.important-date {
	font-weight: 900;
	font-size: 18px;
	margin-bottom: 10px;
}

.important-venue {
	font-weight: 900;
	font-size: 20px;
	margin-bottom: 8px;
}

.address {
	margin-bottom: 8px;
	font-style: italic;
}

.quote {
  font-size: 22px;
  font-style: italic;
  font-weight: 100;
  color: black;
  text-align: center;
  padding: 40px 20px;
  display: inline-block;
  opacity: 0.5;
}

.quote-icon-left {
	max-height: 40px;
	display: inline-block;
	margin-right: 10px;
}

.quote-icon-right {
	max-height: 40px;
	transform:rotate(180deg);
	margin-left:10px;
	display: inline-block;
}

.spacer {
	margin-bottom: 50px
}

.thumbnail {
	border-radius: 0px;
}

.social-share-button-facebook {
	background: url("facebook-icon.png") no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	margin: 0px 5px;
}

.social-share-button-twitter {
	background: url("twitter-icon.png") no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	margin: 0px 5px;
}

.social-share-button-email {
	background: url("email-icon.png") no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	margin: 0px 5px;
}

.social-share-button {
	display: inline-block;
	margin-left: 10px;
}

.share {
	text-align: right;
}

@media (max-width: 1335px) {
	.brand {
		font-size: 40px;
	}

	.sub-heading {
		font-size: 18px;
	}
}

@media (max-width: 1288px) {
	.brand {
		font-size: 38px;
	}

	.sub-heading {
		font-size: 18px;
	}
}

@media (max-width: 1241px) {
	.brand {
		font-size: 35px;
	}

	.sub-heading {
		font-size: 18px;
	}
}

@media (max-width: 1171px) {
	.brand {
		font-size: 32px;
	}

	.sub-heading {
		font-size: 16px;
	}
}

@media (max-width: 1100px) {
	.brand {
		font-size: 30px;
	}

	.sub-heading {
		font-size: 16px;
	}
}

@media (max-width: 767px) {
    .text-center-xs {
        text-align: center;
    }

    .title-container {
		width: 100%;
		display: block;
	}

	.logo-container {
		width: 30%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.sub-heading {
		text-align: center;
		font-size: 12px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-center-sm {
        text-align: center;
    }
    .title-container {
		width: 75%;
	}

	.logo-container {
		width: 20%;
	}

	.sub-heading {
		text-align: right;
		font-size: 16px;
	}
}