// Place all the styles related to the staffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.caption {
	color: black;
	text-align: center;
}

.thumbnail {
	border-radius: 0px;
}

.tag-cloud-container {
	margin-top: 50px;
}

.tag_cloud {
	display: inline-block;
	background-color: #F6E8E9;
	padding: 0px 5px;
	margin: 5px;
	border-radius: 5px;
	font-weight: normal;
}

.staff-list ul {
	list-style-type: none;
	padding-left: 0;
}

.staff-list ul a{
	color: black;
	font-weight: normal;
}

.staff-photo .caption a {
	color: black;
}

.staff-thumb .caption {
	min-height: 76px;
}

.thumbnail>img, .thumbnail a>img {
	height: 140px;
}
/*
	F6E8E9;*/