// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hero {
  background-color: #F6E8E9;
  background-size: cover;
  height: 500px;
}

.intro {
    position: relative;
    top: 25%;
    left: 5%;
   	background-color: rgba(0,0,0,0.5);
   	height:60%;
   	width: 60%;
    color: #fff;
    text-align: left;
    padding: 20px 50px;
  }

.intro h1 {
  color: #fff;
  letter-spacing: 2px;
}

.intro p {
    color: #fff;
    line-height: 1.8;
    font-size: 14px;
    letter-spacing: 1px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .hero {
    height: 400px;
  }

  .intro {
    position: relative;
    top: 10%;
    left: 0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
    height: 90%;
    width: 90%;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  .intro h1 {
    color: #fff;
    letter-spacing: 2px;
  }

  .intro p {
      color: #fff;
  } 

}

.feature-course {
	text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

a .feature-course {
  color: black;
  font-weight: normal;
}

.feature-course:hover {
  background-color: #F6E8E9;
}

.course-heading {
	height: 80px;
  display: table;
  width: 100%;
}

.course-title {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}

.course-title h3 {
	font-size: 22px;
  margin: 0;
}

.course-body {
  line-height: 1.8;
}

.news-heading {
	background-color: #C7C7C7;
	width: 140px;
	text-align: center;
	padding: 10px;
  margin-top: 10px;
}

.news-heading h2 {
	margin: 0px;
  color: #fff;
}

.news-window {
	height: 275px;
	padding: 20px;
}

section {
  margin-bottom: 20px;
}

.highlight {
  background-color: #F6E8E9;
  padding: 10px;
  background-position: center center;
  min-height: 125px;
  border-top: 20px solid #A21D21;
  border-bottom: 5px solid #A21D21;
  margin: 1%;
}

.highlight:hover {
  color: #A21D21;
}

a .highlight {
  color: black;
  font-weight: normal;
}

.highlight hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 3px solid #A21D21;
  width: 50%;
  left: 0;
  margin-left: 0;
}

.highlight h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 900;
  letter-spacing: 2px;
}

.cheer {
  font-size: 22px;
  font-weight: 900;
  font-style: italic;
}

.news a {
  color: black;
  font-weight: normal;
}

.calender-home table {
  margin: auto;
}
