// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hero {
  background: url('magicflute-hero.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
}

.intro {
    position: relative;
    top: 25%;
    left: 5%;
   	background-color: rgba(0,0,0,0.5);
   	height:60%;
   	width: 60%;
    color: #fff;
    text-align: left;
    padding: 20px 50px;
  }

.intro h1 {
  color: #fff;
  letter-spacing: 2px;
}

.intro p {
    color: #fff;
    line-height: 1.8;
    font-size: 14px;
    letter-spacing: 1px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .hero {
    height: 400px;
  }

  .intro {
    position: relative;
    top: 10%;
    left: 0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
    height: 90%;
    width: 90%;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

.intro h1 {
  color: #fff;
  letter-spacing: 2px;
}

.intro p {
    color: #fff;
} }

.course {
	text-align: center;
}

.course-heading {
	height: 80px;
  display: table;
  width: 100%;
}

.course-title {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}

.course-title h3 {
	font-size: 22px;
  margin: 0;
}

.course-body {
  line-height: 1.8;
}

.news-head {
	background-color: #C7C7C7;
	width: 140px;
	text-align: center;
	padding: 10px;
  margin-top: 10px;
}

.news-head h2 {
	margin: 0px;
  color: #fff;
}

.news-window {
	height: 275px;
	padding: 20px;
}

section {
  margin-bottom: 20px;
}

.highlight {
  background-color: #D16468;
  color: #fff;
  padding: 10px;
  background-position: center center;
  min-height: 100px;
  border: 2px solid #fff;
}

.highlight1 {
  background: url('steven_loges.jpg') no-repeat center center;
}


.highlight2 {
  background: url('kharris.jpg') no-repeat 0px -100px;
  background-size: 100%;
}

.highlight hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 3px solid white;
  width: 50%;
  left: 0;
  margin-left: 0;
}

.highlight h4 {
  color: #fff;
  font-weight: 900;
  letter-spacing: 2px;
}