// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hero-indicators {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: auto;
  left: auto;
  width: 25%;
  height: 100%;
  margin: 0px;
  list-style: none;
  text-align: center;
  background-color: #434343;
}

#hero-indicators li {
  display: block;
  width: 100%;
  height: 33.3%;
  margin: 0px;
  text-indent: 0px;
  border-left: 4px solid #fff;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 0px;
  cursor: pointer;
  background-color: #434343;
  color: white;
  position: relative;
  vertical-align: middle;
  font-size: 20px;
}

#hero-indicators .active {
  opacity: 0.5;
}

#hero-indicators img {
  opacity: 0.5;
}

#hero-inner {
  width: 75%;
  max-height: 100%;
  margin: 0px;
  position: relative; 
  overflow: hidden;
}


#hero-inner > .item {
  width: 100%;
  height: 450px;
}

#hero-carousel {
  background-color: #F6E8E9;
  height: 450px;
}

.thumb-caption {
  display: inline-block;
  width: 100%;
  margin-top: 30%;
  background-color: #434343;
  opacity: 0.8;
}


.hero {
  background-color: #F6E8E9;
  background-size: cover;
  height: 450px;
  position: relative;
}

.intro {
    position: absolute;
    top: 20%;
    left: 5%;
   	background-color: rgba(0,0,0,0.4);
   	max-height: 80%;
    max-width: 90%;
    color: #fff;
    text-align: left;
    padding: 20px 20px;
    z-index: 25;
  }

.intro h1 {
  color: #fff;
  letter-spacing: 3px;
}

.intro p {
  color: #fff;
  line-height: 1.4;
  font-size: 16px;
  letter-spacing: 1px;
}

.intro hr {
  border: 0.5px solid #fff;
}

.intro a {
  background: #fff;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .hero {
    height: 400px;
  }

  #hero-inner > .item {
  width: 100%;
  height: 350px;
}


  #hero-carousel {
    height: 350px;
  }
  
  .thumb-caption {
    margin-top: 50%;
    font-size: 12px;
  }

  .intro {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    min-height: 350px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    z-index: 25;
  }

  .intro p {
    font-size: 14px;
  }

  .intro h1 {
    color: #fff;
    letter-spacing: 2px;
  }
  .intro hr {
    margin: 10px 0px;
  }

}

.feature-course {
	text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

a .feature-course {
  color: black;
  font-weight: normal;
}

.feature-course:hover {
  background-color: #F6E8E9;
}

.course-heading {
	height: 80px;
  display: table;
  width: 100%;
}

.course-title {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}

.course-title h3 {
	font-size: 22px;
  margin: 0;
}

.course-body {
  line-height: 1.8;
}

.news-heading {
	background-color: #C7C7C7;
	width: 140px;
	text-align: center;
	padding: 10px;
  margin-top: 10px;
}

.news-heading h2 {
	margin: 0px;
  color: #fff;
}

.news-window {
	height: 275px;
	padding: 20px;
}

section {
  margin-bottom: 20px;
}

.highlight {
  background-color: #F6E8E9;
  padding: 10px;
  background-position: center center;
  min-height: 125px;
  border-top: 20px solid #A21D21;
  border-bottom: 5px solid #A21D21;
  margin: 1%;
}

.highlight:hover {
  color: #A21D21;
}

a .highlight {
  color: black;
  font-weight: normal;
}

.highlight hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 3px solid #A21D21;
  width: 50%;
  left: 0;
  margin-left: 0;
}

.highlight h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 900;
  letter-spacing: 2px;
}

.cheer {
  font-size: 20px;
  font-weight: 900;
  font-style: italic;
}

.note {
  font-size: 20px;
  font-weight: 900;
}

.news a {
  color: black;
  font-weight: normal;
}

.calender-home table {
  margin: auto;
}
