<h2>Dashboard</h2>


<br />
<br />
<b>Google Analytics Metrics in the last <%= @period %> days</b><br />


<iframe width="819.5" height="506.72416666666663" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1olzYnM7a7aXRAVsd8JLRCeIv3NaJZLmePqUJsxqSFFc/pubchart?oid=1342839730&amp;format=interactive"></iframe>
<br />

<iframe width="821.920918367347" height="508.2258333333334" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1olzYnM7a7aXRAVsd8JLRCeIv3NaJZLmePqUJsxqSFFc/pubchart?oid=1358434446&amp;format=interactive"></iframe>

<br />

<iframe width="818.5" height="506.1058333333333" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1olzYnM7a7aXRAVsd8JLRCeIv3NaJZLmePqUJsxqSFFc/pubchart?oid=803504928&amp;format=interactive"></iframe>