<fieldset class='highlight-box'>
<div class="col-lg-4 col-md-4">
	<%= casein_text_field f, f.object, :title, casein_label: 'Highlight title' %>
	<%= casein_hidden_field f, f.object, :_destroy %>
	<%= link_to 'remove', '#', :class => 'remove_fields' %>
</div>
<div class="col-lg-8 col-md-8">
	<%= casein_text_area f, f.object, :description, :class => 'description-box-small' %>
</div>
<hr />
</fieldset>
